.title{
    text-align: center;
    color: rgb(3, 3, 88);
    font-weight: bold;
}
.texts{
    overflow-y: scroll;
    height: 10em;
    width: 100%;

}
.options{
    height: 70%;
    padding-top: 25%
}
.gameStatus{
    height: 3em;
}
.chosen{
    font-size: 200%;
    max-height: 15em;
}
.outcome h2{
    margin-top: 20%
}
.outcome h3{
    font-size: 200%;
}
.waiting{
    max-height: 15em;
    font-size: 200%;
    margin-top: 25%;
    color: rgb(3, 3, 88);
}
.playerBox{
height: 15em;
}
.plSections{
    border: rebeccapurple 6px;
    text-align: center;
    font-weight: bold;
}
.name{
    font-weight: bold;
    font-size: 200%;
}
.outcome{
    border:rebeccapurple 6px;
    height: 16em;
    text-align: center;
}
.chatBox{
    margin: 0 auto;
    margin-top: 2em;
    width: 50%;
}